body {
  background-color: #0f172a;
  color: white;
  scroll-behavior: smooth;
}
.navbar {
  background-color: rgba(21, 33, 61, 0.95);
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.accent {
  color: #22d3ee;
}
.profile-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: linear-gradient(135deg, #22d3ee, #2563eb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  font-weight: bold;
  margin: auto;
  box-shadow: 0 0 30px rgba(34, 211, 238, 0.3);
}
.section-card {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 20px;
}
.skill-box {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}
.skill-box:hover,
.project-card:hover {
  border-color: #22d3ee;
  transform: translateY(-5px);
}
.project-card {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 20px;
  transition: 0.3s;
  height: 100%;
}
.btn-accent {
  background: #22d3ee;
  color: black;
  font-weight: bold;
}
.btn-accent:hover {
  background: #67e8f9;
  color: black;
}
footer {
  border-top: 1px solid #334155;
  color: #94a3b8;
}
.profile-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgba(34, 211, 238, 0.8);
  box-shadow:
    0 0 20px rgba(34, 211, 238, 0.5),
    0 0 50px rgba(37, 99, 235, 0.35),
    0 0 80px rgba(34, 211, 238, 0.2);

  animation: floatGlow 4s ease-in-out infinite;
  transition: 0.3s;
}

.profile-img:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 30px rgba(34, 211, 238, 0.7),
    0 0 70px rgba(37, 99, 235, 0.4);
}

@keyframes floatGlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Footer */
footer {
  border-top: 1px solid #334155;
  color: #94a3b8;
}